<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
          "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
          "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>
		<property name="connection.username">root</property>
		<property name="connection.password">850311</property>
		<property name="connection.url">
			jdbc:mysql://localhost:3306/mydb?useUnicode=true&amp;characterEncoding=UTF-8
		</property>
		<property name="dialect">
			org.hibernate.dialect.MySQLDialect
		</property>
		<property name="myeclipse.connection.profile">
			mysql/localhost
		</property>
		<property name="connection.driver_class">
			com.mysql.jdbc.Driver
		</property>
		<property name="hibernate.hbm2ddl.auto">none</property>
		<property name="show_sql">true</property>
		<mapping resource="com/super4/dang/domain/hibernate/Product.hbm.xml" />
		<mapping resource="com/super4/dang/domain/hibernate/Category.hbm.xml" />
		<mapping resource="com/super4/dang/domain/hibernate/User.hbm.xml" />
		<mapping resource="com/super4/dang/domain/hibernate/SendWay.hbm.xml" />
		<mapping resource="com/super4/dang/domain/hibernate/Address.hbm.xml" />
		<mapping resource="com/super4/dang/domain/hibernate/Order.hbm.xml" />
		<mapping resource="com/super4/dang/domain/hibernate/Item.hbm.xml" />
		<mapping resource="com/super4/dang/domain/hibernate/Comment.hbm.xml" />
		<mapping resource="com/super4/dang/domain/hibernate/CommentReply.hbm.xml" />
		<mapping resource="com/super4/dang/domain/hibernate/RHN.hbm.xml" />
	</session-factory>
</hibernate-configuration>